.hero-background {
    background-color: black;
    
  }
.t-name
{
  color: white;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}



.img-container img {
  display: block;
  width: 100%;
  height: auto;
  animation: zoomOut 5s ease-in-out; /* Adjust animation duration as needed */
  transition: transform 0.5s ease;
  transform: scale(1); 
}
.img-container:hover img {
  transform: scale(1.3); /* Zoom in on hover */
}
@keyframes zoomOut {
  0% {
    transform: scale(1.5); /* Start with 20% zoom in */
  }
  100% {
    transform: scale(1); /* Gradually zoom out to original size */
  }
}

.name-title {
  animation: fadeIn 5s ease-in-out; /* Adjust animation duration for the fade-in effect */
  opacity: 1; /* Initially set opacity to 0 */
  transition: transform 0.5s ease;
  transform: scale(1); 
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 (fully transparent) */
    transform: translateY(50px); /* Move element down by 50px */
  }
  100% {
    opacity: 1; /* Gradually fade in to full opacity */
    transform: translateY(0); /* Move element back to its original position */
  }
}

.name-title:hover
{
  transform: scale(1.3); /* Zoom in on hover */
  
}